/sample
Cargo.lock
**/.ragit
**/*.rs.bak

__pycache__
target
ragit-server-logs*
tests/result.json
crates/server/*.json
*.diff
crates/server/**/blobs/
/.env

# Temporary files
#diff.txt#
#patch.txt#
.#diff.txt
.#patch.txt
diff.txt
patch.txt
t_models'
.secrets
/tmp_bootstrap/
*~
commit_message.txt
temp_commit_message.txt
#*#
index.log
/tmp/
